<nav id="sidebar">
  <a routerLink="/new" routerLinkActive="active">
    <div class="item">
      <div class="icon">
        <svg viewBox="0 0 20 20" fill="currentColor" className="plus w-6 h-6">
          <path
            fillRule="evenodd"
            d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z"
            clipRule="evenodd"
          />
        </svg>
      </div>
      <div class="name">Add</div>
    </div>
  </a>

  <a routerLink="/" routerLinkActive="active">
    <div class="item">
      <div class="icon">
        <svg viewBox="0 0 20 20" fill="currentColor" class="collection w-6 h-6">
          <path
            d="M7 3a1 1 0 000 2h6a1 1 0 100-2H7zM4 7a1 1 0 011-1h10a1 1 0 110 2H5a1 1 0 01-1-1zM2 11a2 2 0 012-2h12a2 2 0 012 2v4a2 2 0 01-2 2H4a2 2 0 01-2-2v-4z"
          ></path>
        </svg>
      </div>
      <div class="name">Library</div>
    </div>
  </a>

  <!-- <div class="item">
    <div class="icon">
      <svg viewBox="0 0 20 20" fill="currentColor" className="tag w-6 h-6">
        <path
          fillRule="evenodd"
          d="M17.707 9.293a1 1 0 010 1.414l-7 7a1 1 0 01-1.414 0l-7-7A.997.997 0 012 10V5a3 3 0 013-3h5c.256 0 .512.098.707.293l7 7zM5 6a1 1 0 100-2 1 1 0 000 2z"
          clipRule="evenodd"
        />
      </svg>
    </div>
    <div class="name">Genres</div>
  </div> -->

  <!-- <a href="/lists" class="item">
    <div class="icon">
      <svg
        viewBox="0 0 20 20"
        fill="currentColor"
        className="view-list w-6 h-6"
      >
        <path
          fillRule="evenodd"
          d="M3 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1zm0 4a1 1 0 011-1h12a1 1 0 110 2H4a1 1 0 01-1-1z"
          clipRule="evenodd"
        />
      </svg>
    </div>
    <span>Lists</span>
  </a> -->
</nav>
